.heading {
  font-family: $font-stack-heading, $font-stack-fallback;
  color: $emphasis-color;
  display: inline-block;

  &-hero {
    text-shadow: -3.5px 1.5px $black-color;
    letter-spacing: 0.67px;
    line-height: 50px;
    
    @include font-size(48px);

    @include breakpoint(tablet) {
      @include font-size(56px);
    }

    @include breakpoint(desktop) {
      @include font-size(64px);
    }
  }
  
  &-1 {
    @include font-size(24px);

    @include breakpoint(tablet) {
      @include font-size(26px);
    }

    @include breakpoint(desktop) {
      @include font-size(32px);
    }
  }

  &-2 {
    @include font-size(24px);

    @include breakpoint(tablet) {
      @include font-size(22px);
    }

    @include breakpoint(desktop) {
      @include font-size(26px);
    }
  }

  &-3 {
    @include font-size(18px);
  }

  &-4 {
    @include font-size(14px);

    text-transform: uppercase;
    color: lighten($primary-color, 15%);
  }

  &:after {
    content: '';
    display: block;
    background-color: $accent-color;
  }

  /**
   * @TODO: Add different sizes based on the different
   * screen breakpoints.
   */
  &--accent {
    &:after {
      height: 4px;
      width: 256px;
      margin-top: $spacing-tiny;
    }

    &-center:after {
      margin-left: auto;
      margin-right: auto;
    }
  }

  &-white { color: $white-color; }
  &-black { color: $secondary-color; }
}

.subheader {         
  @include font-size(16px);

  @include breakpoint(tablet) {
    @include font-size(18px);
  }

  @include breakpoint(desktop) {
    @include font-size(24px);
  }
}