/* Neutral Colors */
$black-color: #000000;
$white-color: #FFFFFF;
$gray-color: #a2a2a2;

/* Theme Colors */
$primary-color: #2f6568;
$secondary-color: #2a363b;
$tertiary-color: #f4ede6;
$emphasis-color: #e57e5e;
$accent-color: $black-color;

/* Text */
$text-color: $secondary-color;
$text-color-light: $white-color;
$link-color: $primary-color;
