/* Code sippet from Ralph Lawrence Silaya: https://github.com/rrsilaya

/* Breakpoint Sizes */

$screens: (
  mobile: 480px,
  tablet: 768px,
  desktop: 960px,
  desktop-large: 1152px,
  desktop-xlarge: 1600px
);

@mixin breakpoint($screen) {
  @if map-has-key($map: $screens, $key: $screen) {
    @media (min-width: #{map-get($screens, $screen)}) {
      @content;
    }
  } @else {
    @media (min-width: $screen) {
      @content;
    }
  }
}
