$font-stack-fallback: Helvetica, Arial, sans-serif;
$font-stack-heading: "Palanquin";
$font-stack-body: "Muli";
$font-stack-extra: "Montserrat";

$font-body-size-tiny: 6px;
$font-body-size-small: 8px;
$font-body-size: 16px;
$font-body-size-large: 24px;
$font-body-size-xlarge: 32px;
$font-body-size-huge: 48px;