.first-section {
  padding: $spacing-medium $spacing-medium $spacing-huge $spacing-medium;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  align-items: left;

  @include breakpoint(tablet) { align-items: center; }

  @include breakpoint(desktop) { align-items: center; }

  @include breakpoint(desktop-large) { align-items: center; }

  @include breakpoint(desktop-xlarge) { align-items: center; }
  
  .title {
    max-width: 680px;
    min-height: 110px;
    justify-content: space-around;
    margin-left: unset;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;

     
    @include breakpoint(tablet){ margin-left: auto; }
    @include breakpoint(desktop){ margin-left: auto; }
  }

  
  .subheader { 
    color: $white-color;
    font-family: $font-stack-extra;
  }

  & .arrow-down {
    @include font-size(50px);
    position: absolute;
    bottom: 0;
    color: $white-color;
    cursor: pointer;
    margin-bottom: $spacing-medium;
    animation: float 4s ease-in-out infinite;
    z-index: 2;

    &:hover {
      color: $primary-color;
    }
  }
}