.third-section {
  position: relative;
  overflow: hidden;
  display: flex;
  
  &-fallback{

    @include breakpoint(tablet) {
      display: none;
    }

    @include breakpoint(desktop) {
      display: none;
    } 
  }

  .fixed-section {
    background-color: $emphasis-color;
    height: 100vh;
    float: left;
    width: 50%;
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    position: relative;
    z-index: 1;

    @include breakpoint(tablet) {
      display: flex;
    }

    @include breakpoint(desktop) {
      display: flex;
    }

    &-fallback {
      display: flex;
      width: 100%;
    }

    .experience-heading-container {
      z-index: 1;
    }

    .experience-navigator {
      color: $white-color;
      position: absolute;
      bottom: 40px;
      z-index: 1;

      &-item { 
        all: unset;
        border: none;
        background-color: unset;
        color: unset;
        cursor: pointer;  
        margin: 0 $spacing-tiny 0 $spacing-tiny;
        
        @include breakpoint(tablet){ @include font-size(12px); }
        @include breakpoint(desktop){ @include font-size(16px); }

        &:hover { color: $secondary-color; }
      }
    }

    &:before {
      position: absolute;
      content: '';
      background: url('../assets/images/SVG/experience-left-circles.svg') no-repeat;
      background-size: 100% 100%;
      transform: rotateY(180deg);
      height: 250px;
      width: 250px;
      top: -80px;
      right: -45px;

      @include breakpoint(tablet) {
        height: 250px;
        width: 250px;
        top: -80px;
        right: -45px;
      }
  
      @include breakpoint(desktop) {
        height: 250px;
        width: 250px;
        top: -80px;
        right: -45px;
      }
    }

    &:after {
      position: absolute;
      content: '';
      background: url('../assets/images/SVG/experience-left-lines.svg') no-repeat;
      background-size: 100% 100%;
      height: 350px;
      width: 350px;
      bottom: 100px;
      left: -130px;
      z-index: 0;
      transform: rotateZ(4deg);

      @include breakpoint(tablet) {
        height: 450px;
        width: 450px;
        bottom: 167px;
        left: -243px;
      }
  
      @include breakpoint(desktop) {
        height: 550px;
        width: 550px;
        bottom: 0px;
        left: -180px;
      }
    }
  }

  .fixed-on {
    position: fixed;
    top: 0;
    height: 100vh;
    width: 50%;
    z-index: 100;
    left: 0;
  }

  .is-past-bottom {
    margin-top: auto;
  }

  .scrolling-section {
    background-color: $white-color;
    padding: 100px $spacing-tiny $spacing-tiny $spacing-tiny;
    width: 100%;
    float: right;
    margin-left: auto;
    position: relative;

    @include breakpoint(tablet) {
      width: 50%;
      padding: 100px $spacing-medium $spacing-medium $spacing-medium;
    }

    @include breakpoint(desktop) {
      width: 50%;
      padding: 100px $spacing-medium $spacing-medium $spacing-medium;
    }

    &:before {
      position: absolute;
      content: '';
      background: url('../assets/images/SVG/experience-scrolling-design.svg') no-repeat;
      background-size: 100% 100%;
      height: 1000px;
      width: 1000px;
      top: -50px;
      left: -150px;
      overflow: hidden;
      z-index: 0;
      opacity: 0.5;
    }

    &:after {
      position: absolute;
      content: '';
      background: url('../assets/images/SVG/experience-scrolling-design.svg') no-repeat;
      background-size: 100% 100%;
      height: 1100px;
      width: 1100px;
      bottom: 300px;
      left: -150px;
      overflow: hidden;
      z-index: 0;
      opacity: 0.5;
      transform: rotateZ(180deg);
    }

    &-item {
      min-height: 300px;
      padding: $spacing-tiny;
      z-index: 1;
      position: relative;

      @include breakpoint(tablet) {
        padding: $spacing-base;
      }
  
      @include breakpoint(desktop) {
        padding: $spacing-base;
      }

      &-subheader {
        color: lighten($secondary-color, 30%);
      }

      &-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        
        .logo-shadow {
          width: 60px;
          height: 7px;
          background-color: #2a363b;
          opacity: 0.7;
          border-radius: 90%;
          margin-top: 8px;
        }

        .heading {
          text-align: center;
        }

        .content {
          display: flex;
          flex-direction: column;
          align-items: center;

          &-description {
            text-align: justify;
            margin: $spacing-base;
            line-height: 25px;
          }

          &-photo {
            margin: $spacing-base;
            display: flex;
            justify-content: center;
            max-width: 100%;
            position: relative;
            z-index: 1;

            &-frames {
              position: absolute;
              width: 100%;
              height: 320px;
              z-index: -1;
              left: 0;
              display: none;

              @include breakpoint(tablet){
                display: none;
              }

              @include breakpoint(desktop){
                display: block;
              }

              &-experience-yses {

                &-1 {
                  border: 5px solid $primary-color;
                  top: -20px;
                  left: 20px;
                }

                &-2 {
                  border: 5px solid $emphasis-color;
                  top: 5px;
                  left: -30px;
                }
              }

              &-experience-futurity {

                &-1 {
                  border: 5px solid $secondary-color;
                  top: -10px;
                  left: -20px;
                }
                
                &-2 {
                  border: 5px solid $gray-color;
                  left: 30px;
                  top: 10px;
                }
              }

              &-experience-srg {

                &-1 {
                  border: 5px solid $emphasis-color;
                  top: -10px;
                  left: -20px;
                }
                
                &-2 {
                  border: 5px solid $black-color;
                  left: 20px;
                }
              }

              &-experience-cheetah {

                &-1 {
                  border: 5px solid $emphasis-color;
                  top: -15px;
                  left: 25px;
                }
                
                &-2 {
                  border: 5px solid $secondary-color;
                  left: -25px; 
                }
              }

            }
          }
        }
      }
    }
  }
}